html {
    background-color: whitesmoke;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

#top {
    grid-column: 1 / 1;
    grid-row: 2 / 3;

}

button {
    background-color: cyan;
    border: 1px solid cadetblue;
    border-radius: 5px;
    font-family: monospace;
    height: 20px;
    width: 100px;
}

#bottom {
    grid-column: 1 / 1;
    grid-row: 3 / 4;

}